//Utils
@import "../../css/scss/utils/normalize";
//Settings
@import "../../css/scss/utils/settings";

.Navbar-container {
	background-color: $primaryColorDark;
	//grid-area: NavBar;
	border: 1px solid #fff;
	grid-column: 1/3;
	grid-row: 1/15;
}
.Navbar {
	&-logo {
		&-img {
			width: 50px;
			height: 50px;
		}
	}
	&-menu {
		&-item{
			letter-spacing: 1.5px;
			text-transform: uppercase;
			cursor: pointer;
			a {
				color: $textColor;
				&:hover{
					transition: all .2s;
					color: $secondaryColor;
					transform: scale(.9) translateY(-2px);
				}
			}
		}
	}

}
