@import "./css/scss/utils/settings";
.App {
	min-height: 100vh;
	max-height: 100vh;
	background-color: $primaryColor;
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"NavBar Header Header Header Header Header Header Header"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
		"NavBar DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard DashBoard"
}